@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100%;

  z-index: -1;
  background-color: #888;
}

a {
  color: #000;
  width: 100%;
  max-width: 600px;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-direction: column;
  gap: 1.5rem;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

.share {
  position: absolute;
  margin: 100px;
}

.box {
  display: block;
  cursor: pointer;
  width: 100%;
  max-width: 600px;
  height: 55px;
  border-radius: 7px;
  border: 2px solid #888;
  box-shadow: 7px 7px 0px black;
  background-color: whitesmoke;
}

.fa-brands {
  font-size: 2em;
  float: left;
  margin: 8px 10px 0;
}

.menu {
  display: none;
}

#box:hover .menu {
  display: block;
}
.share {
  position: relative;
  display: flex;
  bottom: 125px;
  left: 100%;
  transform: translateX(-40%);
}

.dot {
  width: 8px;
  height: 8px;
  background: black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 5px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 180px 0;
  font-size: 1.5em;
}

.box:active,
.box:hover {
  transform: translateY(6px);
}

.share:hover {
  display: flex;
}

.no-hover {
  display: flex;
}

footer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}

@media (min-width: 300px) {
  .title {
    text-align: center;
  }
  .description {
    text-align: center;
  }
  * {
    margin: 2px;
    margin-right: 8px;
  }
  body {
    overflow: auto;
  }

  footer {
    font-size: 0.8em;
    margin-bottom: 0.7rem;
  }
  .share {
    position: relative;
    display: flex;
    bottom: 125px;
    left: 75%;
    transform: translateX(-50%);
  }
}

@media (min-width: 400px) {
  .title {
    text-align: center;
  }

  * {
    margin: 2px;
    margin-right: 8px;
  }
  body {
    overflow: auto;
  }
  footer {
    font-size: 0.8em;
    margin-bottom: 0.7rem;
  }
  .share {
    position: relative;
    display: flex;
    bottom: 125px;
    left: 100%;
    transform: translateX(-30%);
  }
}

@media (min-width: 600px) {
  body {
    overflow: auto;
  }
  .share {
    position: relative;
    display: flex;
    bottom: 125px;
    left: 80%;
    transform: translateX(-40%);
  }
}

@media (min-width: 992px) {
  body {
    overflow: auto;
  }
  .share {
    position: relative;
    display: flex;
    bottom: 125px;
    left: 100%;
    transform: translateX(-40%);
  }
}

@media (min-width: 1400px) {
  body {
    overflow: hidden;
  }
  .share {
    position: relative;
    display: flex;
    bottom: 125px;
    left: 100%;
    transform: translateX(-40%);
  }
}
